<form id="{{ include.form_id | 'contact-form' }}" method="post" action="#" onsubmit="{{ include.onsubmit_callback | 'sendContactMessage' }}()" onreset="{{ include.onreset_callback | 'resetContactForm' }}()" >
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
      <input type="text" name="{{ include.name_input_id | 'contact-name' }}" id="{{ include.name_input_id | 'contact-name' }}" value="" placeholder="Name" required minlength="4" maxlength="64" />
    </div>
    <div class="col-6 col-12-xsmall">
      <input type="email" name="{{ include.email_input_id | 'contact-email' }}" id="{{ include.email_input_id | 'contact-email' }}" value="" placeholder="Email" required minlength="8" maxlength="64" />
    </div>
    <div class="col-12">
      <select name="contact-category" id="contact-category">
        <option value="">- Category -</option>
        <option value="1">Manufacturing</option>
        <option value="1">Shipping</option>
        <option value="1">Administration</option>
        <option value="1">Human Resources</option>
      </select>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="contact-priority-low" name="contact-priority" checked>
      <label for="contact-priority-low">Low</label>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="contact-priority-normal" name="contact-priority">
      <label for="contact-priority-normal">Normal</label>
    </div>
    <div class="col-4 col-12-small">
      <input type="radio" id="contact-priority-high" name="contact-priority">
      <label for="contact-priority-high">High</label>
    </div>
    <div class="col-6 col-12-small">
      <input type="checkbox" id="contact-copy" name="contact-copy">
      <label for="contact-copy">Email me a copy</label>
    </div>
    <div class="col-12">
      <textarea name="{{ include.message_input_id | 'contact-message' }}" id="{{ include.message_input_id | 'contact-message' }}" placeholder="Enter your message" rows="6" required minlength="16" maxlength="256" ></textarea>
    </div>
    <div class="col-12">
      <ul class="actions">
        <li><div id="{{ include.recaptcha_widget_id | 'recaptcha-checkbox' }}" ></div></li>
        <li><input type="submit" id="{{ include.submit_input_id | 'contact-submit-button' }}" value="Send Message" class="primary" disabled /></li>
        <li><input type="reset" id="{{ include.reset_input_id | 'contact-reset-button' }}" value="Reset" /></li>
      </ul>
    </div>
  </div>
</form>
