<!-- Footer -->
<footer id="footer">
    <section>
        <h2>✨ {% include breadcrumbs.html %}</h2>
        <p>Evie's small personal website for hosting my own projects and centralizing all of my internet-related stuff within one place.
        <br><br>
        Looking for the old site? <a href="/old">Let's travel back in time! ⏳</a></p>
        <ul class="actions">
            <li><a href="https://posts.snugg.ie/2020/12/23/lets-look-into.html" class="button">🖥️ — What am I running on?</a></li>
        </ul>
    </section>
    
    <script src="https://tinylytics.app/embed/A-LCyxpo4_DaPxHxHEJw.js" defer></script> 
    <p class="copyright"><a href="https://posts.snugg.ie/feed.xml">RSS</a> - <a href="https://posts.snugg.ie/feed.json">JSON</a><br><br>
        <img width="50px" alt="An abstract logo which shows three sprinkles, like the sprinkles on a cake." src="/assets/images/sprinkles/vector/sprinkles.svg"></p>
</footer>
