<!-- Footer -->
<footer id="footer">
    <section>
        <h2>✨ {% include breadcrumbs.html %}</h2>
        <p>Evie's small personal website for hosting my own projects and centralizing all of my internet-related stuff within one place.
        <br><br>
        Looking for the old site? <a href="/old">Let's travel back in time! ⏳</a></p>
        <ul class="actions">
            <li><a href="/hug-server" class="button">🖥️ — What am I running on?</a></li>
        </ul>
    </section>
    
    <p class="copyright">Made with <i class="fas fa-heart" style="color: firebrick;"></i> by <a href="/contact">Evie Snuggle</a>, whose <a href="https://pronoun.is/she">pronoun.is/she</a>. <i class="fas fa-venus" style="color: pink;"></i></p>
</footer>
