{%- assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' -%}
{%- assign pages=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' | concat: posts -%}
<head>
    <!-- Meta time! -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <title>{{ page.title }}</title>
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
    {% else %}
    <title>{{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% elsif page.subtitle %}
    <meta content="{{ page.subtitle }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="https://snugg.ie/assets/images/posts/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/assets/images/avatar.jpg" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}
    <!-- Meta time is over -->
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/snuggie.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/snuggie.css' | absolute_url }}" />
    {%- for page in pages -%}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
    {%- endfor -%}
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | absolute_url }}" /></noscript>
    {%- if site.favicon -%}
    <link rel="icon" href="{{ site.favicon | absolute_url }}" />
    {%- endif -%}
</head>
