<!-- Nav -->
<nav id="nav">
    <ul>
		{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
	<li>
		<a href="/">snugg.ie</a>
	</li>
	
	{% for crumb in crumbs offset: 1 %}
		/
		<li>
			{% if forloop.last %}
				<a class="active" 
			{% else %}
				<a 
			{% endif %}
			
			href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
		</li>
	{% endfor %}

    </ul>
</nav>
