<section id="statistics" class="special">
	<h2>Live statistics</h2>
	<div id="pageliveinfo">This page is using live data from Hug Server — <b>Refreshing paused!</b> This page is not in focus. ⏸️</div>
	
	<ul class="statistics hug-statistics">
	<li class="style1">
	<span class="icon fas solid fa-microchip"></span>
	<strong>32x</strong> Threads
	<br><img alt="A live count of server CPU usage as a percentage" src="https://hug.snugg.ie/dashboard/api/v1/badge.svg?chart=system.cpu&amp;label=CPU%20Load:&amp;value_color=efa8b0&amp;label_color=efa8b0&amp;text_color_lbl=454545&amp;text_color_val=454545&amp;scale=130&amp;cacheBuster=1606667081452">
	</li>
	<li class="style2">
	<span class="icon fas solid fa-tachometer-alt"></span>
	<strong>3.4 GHz</strong>2x Xeon E5-2640v3
	<br><img alt="A live count of server CPU frequency (MHz)" src="https://hug.snugg.ie/dashboard/api/v1/badge.svg?chart=cpu.cpufreq&amp;dimensions=cpu0&amp;label=CPU%20Freq:&amp;value_color=c79cc8&amp;label_color=c79cc8&amp;text_color_lbl=454545&amp;text_color_val=454545&amp;scale=130&amp;cacheBuster=1606667081450">
	</li>
	<li class="style3">
	<span class="icon fas solid fa-memory"></span>
	<strong>48 GB</strong> DDR4 ECC Memory
	<br><img alt="A live count of server memory usage as a percentage" src="https://hug.snugg.ie/dashboard/api/v1/badge.svg?chart=mem.available&amp;divide=1000&amp;units=GB&amp;label=Mem%20Free:&amp;value_color=a89cc8&amp;label_color=a89cc8&amp;text_color_lbl=454545&amp;text_color_val=454545&amp;scale=130&amp;cacheBuster=1606667081448">
	</li>
	<li class="style4">
	<span class="icon fas solid fa-hdd"></span>
	<strong>12x</strong> Hotswap Bays
	<br><img alt="A live count of server disk usage" src="https://hug.snugg.ie/dashboard/api/v1/badge.svg?chart=cgroup_qemu_homesweet_scope_libvirt.throttle_io&divide=1000&units=MiB/s&precision=1&label=Disk Usage:&options=abs&value_color=9bb2e1&label_color=9bb2e1&text_color_lbl=454545&text_color_val=454545&scale=130&cacheBuster=1624996026488">
	</li>
	<li class="style5">
	<span class="icon fas solid fa-dove"></span>
	<strong>Low</strong> Response Time
	<br><img alt="A live count of server response time in milliseconds" src="https://hug.snugg.ie/dashboard/api/v1/badge.svg?chart=httpcheck_snugg-ie.response_time&amp;label=Page%20Load:&amp;value_color=8cc9f0&amp;label_color=8cc9f0&amp;text_color_lbl=454545&amp;text_color_val=454545&amp;scale=130&amp;cacheBuster=1606667081445">
	</li>
	</ul>
	</section>
<hr>
