/* Make hug-server statistics responsive */

@media screen and (max-width: 1280px) {

	.hug-statistics {
		display: block;
		width: 30em;
		max-width: 100%;
		margin: 0 auto 2em auto;
	}

		.hug-statistics li:first-child {
			border-bottom-left-radius: 0;
			border-top-right-radius: 8px;
		}

		.hug-statistics li:last-child {
			border-top-right-radius: 0;
			border-bottom-left-radius: 8px;
		}

		.hug-statistics li .icon:before {
			font-size: 3.75rem;
		}

		.hug-statistics li strong, .hug-statistics li b {
			font-size: 2.5em;
		}

}

@media screen and (min-width: 1280px) and (max-width: 1680px) {
	.hug-statistics {
		margin: 0 auto 0em -2.5em;
	}
}

/* Hug Server Blog */

.double-image {
	margin: auto auto 9em auto;
}

/* Dark theme theming rules */

body.force-theme-dark {
	background-color: #640032;
	background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #230313 15%, #640032 85%);
	background-image: url("images/overlay.png"), linear-gradient(45deg, #230313 15%, #640032 85%);
}

#nav.force-theme-dark {
	background-color: #7b1347;
	color: lightgrey;
}

#main.force-theme-dark {
	background-color: #69153f;
	color: lightgrey;
}

#main.force-theme-dark .button.primary {
	background-color: #a5125b !important;
}

#main.force-theme-dark .button {
	color: white !important;
}


body.force-theme-dark h1 {
	color: lightgrey !important;
}

body.force-theme-dark h2 {
	color: lightgrey !important;
}


#main.force-theme-dark > .main {
	border-top: solid 1px #96004c;
}

#main.force-theme-dark b {
	color: white;
}

#nav.force-theme-dark ul li a.active {
	color: black !important;
}

/* Toggle theme buttons */

.toggle-theme-light {
  display: none;
  position: absolute;
  right: 1%;
  top: 1%;
  min-width: 4.5em;
}

.toggle-theme-dark {
  position: absolute;
  right: 1%;
  top: 1%;
  min-width: 4.5em;
}

@media screen and (min-width: 1700px) {
	.toggle-theme-light {
	  position: fixed;
	}

	.toggle-theme-dark {
	  position: fixed;
	}
}

body.force-theme-dark .toggle-theme-light {
  display: inline-block !important;
  }
body.force-theme-dark .toggle-theme-dark {
  display: none !important;
}

body.force-theme-light .toggle-theme-light {
  display: none !important;
}

body.force-theme-light .toggle-theme-dark {
  display: inline-block !important;
}
