body,h1 {font-family: "Raleway", sans-serif}
@media screen and (max-width: 600px) {
	.w3-display-bottomleft {
		visibility: hidden;
	}
	.w3-display-middle {
		top: 35%;
	}
	div.w3-spain-locale {
		position: inherit;
		float: right;
	}
}
svg {
	width: 2vh;
	height: 2vh;
}
body, html {height: 100%}
.w3-avatar {
	width: 25vh;
	height: auto;
	border-radius: 10%;
}
.bgimg {
	background-color: #262525;
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.w3-idk-words {
	 position: fixed;
	 bottom: 0;
	 width: 100%;
	 text-align: center;
	 opacity: 0.5;
}
.w3-attribution {
		 text-decoration: none;
}
.w3-attribution:hover {
	text-decoration: underline;
}
.snuggle-attribution {
	 text-decoration: underline;
	 text-decoration-color: rgba(255, 255, 2555, 0.3);
}
.snuggle-attribution:hover {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 2555, 1.0);
}
.snuggle-invisible {
	 text-decoration: none;
}
.w3-jumbo {
	font-size: 6vh !important;
}
.w3-large {
	font-size: 2vh !important;
}
.w3-display-topleft {
	font-size: 2vh !important;
}
.w3-display-bottomleft {
	font-size: 1.5vh !important;
	opacity: 0.1;
}
.w3-spain-locale {
	position: fixed;
	right: 1%;
	bottom: 1%;
	font-size: 3vh;
	opacity: 0.5;
	text-align: center;
}

/* Tooltip container */
.tooltip {
 position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
 visibility: hidden;
 width: 120px;
 background-color: #555;
 color: #fff;
 text-align: center;
 padding: 5px 0;
 border-radius: 6px;

 /* Position the tooltip text */
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -60px;

 /* Fade in tooltip */
 opacity: 0;
 transition: opacity 0.3s;
 transition-delay: 0.5s;
 transition-timing-function: ease-in;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}
